page-home {
}

.backgroung {
    padding: 0px;
    background-image: url('../assets/imgs/anansi.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 50%;
}
